server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git: # default
          uri: https://github.com/yessm621/warehouse-config
          default-label: main
          search-paths: ./**

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
